# Create an action that deploys a package from github actions to github packages on PR merge with master
name: Publish NPM Package

on:
    push:
        paths-ignore:
          - docs/**
        branches:
          - master


jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v3
          - uses: actions/setup-node@v3
            with:
              node-version: 20
          - run: npm ci

    generate-docs:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                node-version: 20
            - run: npm ci
            - run: npx typedoc src/** --out docs/
            - run: |
                git config --global user.name "CaptainJRoy"
                git config --global user.email "jrsm-github@outlook.pt"
                git pull
                git checkout docs
                npm ci
                npx typedoc src/** --out docs/
                git add docs/
                git commit -m "[DOCS_BOT] - Update docs"
                git push
    
    publish-gpr:
        needs: build
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                node-version: 20
                registry-url: https://npm.pkg.github.com/
            - run: npm install
            - run: npm run build
            - run: |
                # Change publish registry
                echo "$(jq '.publishConfig.registry = "https://npm.pkg.github.com"' package.json)" > package.json
                # Add organisation scope to package name
                echo "$(jq '.name = "@CaptainJRoy/structalgo"' package.json)" > package.json
                # And publish this boy
                npm publish --@CaptainJRoy:registry=https://npm.pkg.github.com
              env:
                NODE_AUTH_TOKEN: ${{ secrets.GHP_DEPLOY_SECRET }}

    publish-npm:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                node-version: 20
                registry-url: https://registry.npmjs.org/
            - run: npm install
            - run: npm run build
            - run: npm publish --access public
              env:
                NODE_AUTH_TOKEN: ${{ secrets.NPMJS_DEPLOY_SECRET }}
